* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Karla', sans-serif;
    background: #383838;
    color: #ecf0f1;
    line-height: 1.618em;
}

header {
    height: 70vh;
    background-image: url(./pics/bar.jpg);
    background-size: cover;
    background-position: right;
    font-weight: 600;

}

header img {
    width: 60px;
    height: 60px;
}

footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    background-color: #16a085;
}

#content {
    height: 150%;
}

/*------------Header styles-------------*/
.head-txt {
    text-align: center;
    background-color: #292929ce;
    padding: 20px;
}

.head-txt h1 {
    margin-top: 30px;
    font-size: 80px;
}

.head-txt p {
    font-size: 20px;
    margin: 10px 0;
}

.head-filter {
    height: 100%;
    background-color: #25252583;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/*----------------------General wrapper styles-----------------------*/
.wrapper {
    max-width: 80rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 200px;
    height: 33rem;
}

.tabs {
    position: relative;
    margin: 3rem 0;
    background: #1abc9c;
    height: 14.75rem;
}

.tabs::before,
.tabs::after {
    content: "";
    display: table;
}

.tabs::after {
    clear: both;
}

.tab {
    display: grid;
    width: 25%;
    grid-template-columns: 1fr;
    grid-template-rows: 50px;
    text-align: center;
    float: left;
}

.tab-switch {
    display: none;
}

.tab-label {
    position: relative;
    display: block;
    line-height: 2.1em;
    height: 3em;
    padding: 0 1.618em;
    background: #1abc9c;
    border-right: 0.125rem solid #16a085;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
    font-size: 20px;
}

.tab-label:hover {
    top: -0.35rem;
    transition: top 0.25s;
}

.tab-content {
    height: 30rem;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 3rem;
    background: #fff;
    color: #2c3e50;
    border-bottom: 0.25rem solid #bdc3c7;
    opacity: 0;
    transition: all 0.35s;
}

.tab-switch:checked+.tab-label {
    background: #fff;
    color: #2c3e50;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
}

.tab-switch:checked+label+.tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
}


/*-----------------------Individual tab styles---------------------------*/

/*------------Contact us tab-----------*/
.contact-tab {
    display: grid;
    height: 40rem;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.address {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    align-items:center;
}

.map-container-2 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-2 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

iframe {
    height: 300px;
    width: 100%;
}

/*----drinks tab----*/
.drinks-tab {
    height: 40rem;
}

/*-----home tab-------*/
.home-tab {
    height: 35rem;
}

/*----food tab----*/
.food-tab {
    display: grid;
    height: 33rem;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.burger-img img, .pancake-img img{
    width: 70%;
    height: 90%;
    
}


/*----address table styles--------*/
    
table {
    border: 1px solid #383838;
}

    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tg td, .tg th {
        font-size: 14px;
        overflow: hidden;
        padding: 3px 10px;
        word-break: normal;
    }

    .tg .tg-c3ow {
        border-color: inherit;
        text-align: center;
        vertical-align: top
    }

    .tg .tg-dvpl {
        border-color: inherit;
        text-align: right;
        vertical-align: top
    }


/*-------form styles---------*/

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #ee9b3c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.form-container {
    width: 70%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


